html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex: auto;
}

.date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.state {
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 20px;
  font-weight: 500;

  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.weather-box .temp .num {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
}
.weather-box .temp .minmax {
  font-size: 35px;
  font-weight: 600;
  text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .temp .humidity {
  font-size: 25px;
  font-weight: 600;

  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  text-align: center;

}

.new-city {
  width: 40rem;
  height: 3rem;
  position: absolute;
  bottom: 2%;
  left: 16.5%;
  right: 0;
  background: #bebec000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.new-city-input {
  /* width: 20;
  height: 30; */
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  background-color:#b2b2b21c;
  border-radius: 5px;
  border-color: #f7efef;
  outline: #f2f2f2a6;
}